In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
data = pd.read_csv('train.csv')

In [5]:
data.head()

,ID,datetime,siteid,offerid,category,merchant,countrycode,browserid,devid,click
0,IDsrk7SoW,2017-01-14 09:42:09,4709696.0,887235,17714,20301556,e,Firefox,NaN,0
1,IDmMSxHur,2017-01-18 17:50:53,5189467.0,178235,21407,9434818,b,Mozilla Firefox,Desktop,0
2,IDVLNN0Ut,2017-01-11 12:46:49,98480.0,518539,25085,2050923,a,Edge,NaN,0
3,ID32T6wwQ,2017-01-17 10:18:43,8896401.0,390352,40339,72089744,c,Firefox,Mobile,0
4,IDqUShzMg,2017-01-14 16:02:33,5635120.0,472937,12052,39507200,d,Mozilla Firefox,Desktop,0

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12137810 entries, 0 to 12137809
Data columns (total 10 columns):
ID             object
datetime       object
siteid         float64
offerid        int64
category       int64
merchant       int64
countrycode    object
browserid      object
devid          object
click          int64
dtypes: float64(1), int64(4), object(5)
memory usage: 926.0+ MB

In [7]:
data.describe()

             siteid       offerid      category      merchant         click
count  1.092530e+07  1.213781e+07  1.213781e+07  1.213781e+07  1.213781e+07
mean   5.023971e+06  4.966571e+05  4.215284e+04  4.901602e+07  3.602083e-02
std    2.904255e+06  2.897379e+05  2.950048e+04  2.916656e+07  1.863420e-01
min    7.100000e+01  0.000000e+00  9.700000e+01  2.604430e+05  0.000000e+00
25%    2.506733e+06  2.475320e+05  1.496000e+04  2.639177e+07  0.000000e+00
50%    4.984805e+06  4.957550e+05  4.033900e+04  4.861553e+07  0.000000e+00
75%    7.582930e+06  7.472350e+05  6.678600e+04  7.436361e+07  0.000000e+00
max    9.999996e+06  9.999980e+05  9.991400e+04  9.977043e+07  1.000000e+00

In [8]:
data.size

121378100

In [13]:
data.columns

Index(['ID', 'datetime', 'siteid', 'offerid', 'category', 'merchant',
       'countrycode', 'browserid', 'devid', 'click'],
      dtype='object')

In [ ]:
#sns.distplot(data['countrycode'])

In [9]:
data.shape

(12137810, 10)

In [ ]:
sns.countplot(data=data,x='siteid',hue='click')
plt.show()

In [ ]:
sns.pairplot(data)